<div class="row justify-content-center">
    <div class="col col-md-6 col-lg-4">
        <header class="text-center text-info">
            <h1>Localhost library</h1>
            <h3><i class="fas fa-book"></i></h3>
        </header>

        <form #loginForm="ngForm">
            <div class="row">
                <div class="col">
                    <ngb-input id="name" name="name" [(ngModel)]="name" label="Nombre" placeholder="Ingresa tú nombre" [required]="true" requiredError="Es necesario ingresar tú nombre" [dirty]="formDirty"></ngb-input>
                </div>
            </div>
            <div class="row">
                <div class="col text-right">
                    <button type="submit" class="btn btn-primary" (click)="login()">
                        <i class="fas fa-sign-in-alt"></i>
                        Iniciar sesión
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>